body {
  margin: 0;
}

.main {
  text-align: center;
  width: 500px;
  height: 700px;
  margin: auto;
  margin-top: 100px;
  background-image: url("../img/back.jpeg");
  background-size: cover;
  background-repeat : no-repeat;
  position: relative;
}

.main2 {
  text-align: center;
  width: 500px;
  height: 700px;
  margin: auto;
  margin-top: 100px;
  background-color: rgb(208, 227, 250);
}

ul {
  padding: 0;
}

li {
  list-style: none;
  font-size: 30px;
}

ul > img {
  margin-bottom: 30px;
}

.circle-profile {
  z-index: 1;
  position: absolute;
  width: 130px;
  height: 130px;
  background-image: url("../img/front.jpeg");
  background-size: cover;
  background-repeat : no-repeat;
  bottom: 25%;
  left: 37%;
  filter: brightness(100%);
  border-radius: 70%;
}

.name {
  font-size: 30px;
  font-weight: 500;
  color: white;
  position: absolute;
  bottom: 18%;
  left: 41%;
}

.tip {
  display: flex;
  align-items: center;
}

.tiptip{
  position: absolute;
  bottom: 8.5%;
  left: 32%;
}

.button{
  position: absolute;
  background-color: black;
  border-radius: 4em;
  font-size: 16px;
  color: white;
  padding: 0.8em 1.8em;
  cursor:pointer;
  user-select:none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s; /* Safari */
  bottom: 8%;
  left: 45%;
}

.button:hover {
  transition-duration: 0.1s;
  background-color: #3A3A3A;
}

.button:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top:0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s;
  box-shadow: 0 0 10px 40px white;
}

.button:active:after {
  box-shadow: 0 0 0 0 white;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top:0;
  opacity: 1;
  transition: 0s;
}

.button:active {
  top: 1px;
}